@model IEnumerable<MusicStore.Models.Album>
@{
    ViewData["Title"] = "Home Page";
}

@using MusicStore.Helpers

<br />

<div class="text-center">
    <div class="jumbotron" style="background-color:lightblue; padding:40px 40px 40px 40px">
        <div class="jumbotron" style="background-color: aliceblue">
            <img src="~/images/logo.png" class="rounded" width="400"  />
        </div>
    </div>
    <ul>
    @foreach(var item in Model)
    {
            <li> <b>@Html.DisplayFor(modelItem => item.Artist.Name)</b> @MyHelper.Truncate(item.Title, 7)</li>
        

    }
    </ul>

</div>