@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="text-center">
    <div class="jumbotron" style="background-color:lightblue; padding:40px 40px 40px 40px">
        <div class="jumbotron" style="background-color: aliceblue">
            <img src="~/images/logo.png" class="rounded" width="400"  />
        </div>
    </div>
</div>